<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<script th:inline="javascript">
    var login = [[${login}]];
    if (login != null) {
        alert(login);
        location.href = 'http://localhost:8080/login';
    }

    var signup = [[${signup}]];
    if (signup != null) {
        alert(signup);
        location.href = 'http://localhost:8080/signup';
    }

    var update = [[${update}]];
    if (update != null){
        alert(update);
        window.history.back();
    }
</script>

</body>
</html>