<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="import" href="http://localhost:8080/resources/header.html"/>
    <title>댓글 시스템</title>
</head>
<body>

<div class="session" th:value="${session.id}"></div>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar">
                <ul th:if="${session.id}" class="nav navbar-nav">
                    <li th:inline="text"><a th:href="@{/}">[[${session.name}]]([[${session.des}]])</a></li>
                    <li>
                        <a th:href="@{/write}"
                           onclick="window.open(this.href, 'write', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                            글쓰기
                        </a>
                    </li>
                    <li><a th:href=" ${'/update/' + session.id}">프로필수정</a></li>
                    <li><a th:href="@{/logout}">로그아웃</a></li>
                </ul>
                <ul th:unless="${session.id}" class="nav navbar-nav">
                    <li><a th:href="@{/signup}">회원가입</a></li>
                    <li><a th:href="@{/write}">글쓰기</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <h2 class="sub-header">글 목록</h2>
    <h1 th:text="${name}">name</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Content</th>
                <th class="center">Eval</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody class="contents">
            <!--comment-->
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <!--<li><a href="#">1</a></li>-->
    </ul>
</div>
<script th:inline="javascript">
    var message = [[${duplicate}]];
    if (message != null) {
        alert(message);
        location.href = 'http://localhost:8080/';
    }
    var writeDone = [[${writeDone}]];
    if (writeDone != null) {
        window.opener.location.reload();
        window.close();
    }
</script>
<div id="ajax"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type='text/javascript' src="resources/js/custom.js"></script>
</body>
</html>
