<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="import" href="resources/header.html"/>
    <title>댓글 시스템</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li><span th:text="${session.name}"/>(<span th:text="${session.des}"/>)</li>
                    <li><a th:href="@{/signup}">회원가입</a></li>
                    <li><a th:href="@{/write}">글쓰기 or 프로필수정</a></li>
                    <li><a th:href="@{/logout}">로그아웃</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <h2 class="sub-header">글 목록</h2>
    <h1 th:text="${name}">name</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Content</th>
                <th class="center" colspan="2">Eval</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="#" alt="user_profile_image"/></td>
                <td>username</td>
                <td>content</td>
                <td class="center">
                    <button type="button" name="button">추천</button>
                </td>
                <td class="center">
                    <button type="button" name="button">반대</button>
                </td>
                <td>date</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
