<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="import" href="http://localhost:8080/resources/header.html"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>

    <title>Sign Up</title>
</head>
<body>

<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 th:text="${session.id}? 'Update' : 'Sign Up'" class="title">Update</h1>
                <div th:if="${error}" th:text="${error}"></div>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" th:action="${session.id}? @{/update}:@{/signup}"
                  th:object="${user}" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:field="*{userId}" type="text" class="form-control"
                                   placeholder="Enter your ID"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                            <input type="password" class="form-control" th:name="password"
                                   placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:field="*{name}"
                                   placeholder="Enter your Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-file-text-o fa"
                                                               aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:field="*{description}"
                                   placeholder="Enter your Description"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-image fa-lg"
                                                                   aria-hidden="true"></i></span>
                            <input type="file" class="form-control" th:field="*{userProfileImage}" style="width:50%"/>
                            <span style="margin: 0 10px 0 15px">현재 이미지 : </span>
                            <img th:if="${session.id}" th:src="'/resources/images/'+*{userProfileImage}" width="35"
                                 height="35" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">
                        <span th:text="${session.id}? '수정': '등록'">버튼이름</span>
                    </button>
                </div>
                <div class="login-register">
                    <button onclick="window.history.back()">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var fail = [[${fail}]];
    if (fail != null) {
        alert(fail);
        location.href = 'http://localhost:8080/signup';
    }
</script>
</body>
</html>