<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="header.html">
    <title>Log in</title>
</head>
<body>
<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Id</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Id" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit">취소</button>
    </form>

</div> <!-- /container -->
</body>
</html>
