<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="import" href="http://localhost:8080/resources/header.html"/>
    <title>댓글 등록</title>
</head>
<body>
<div class="container">
    <h2>댓글 등록</h2>
    <p>The form below contains a textarea for comments:</p>
    <form role="form" th:action="@{/}" method="post">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="3" id="comment" th:name="content"></textarea>
        </div>
        <input type="submit" value="저장"/>
        <input type="button" value="취소" onclick="window.close()"/>
    </form>
</div>
</body>
</html>