<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="resources/header.html"/>
    <title>댓글 등록</title>
</head>
<body>
<div class="container">
    <h2>댓글 등록</h2>
    <p>The form below contains a textarea for comments:</p>
    <form role="form">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="3" id="comment"></textarea>
        </div>
        <input type="submit" value="저장"/>
        <input type="button" value="취소" onclick="window.history.back()"/>
    </form>
</div>
</body>
</html>